[Unit]
Description=Scheduled Snapper-based backup to %i
After=-.mount
#After=mnt-archive.mount

[Timer]
# Back up every month
OnBootSec=30d
OnUnitActiveSec=30d

[Install]
WantedBy=multi-user.target
